@charset "utf-8";
.sect_cal{
    position:relative;
    width:min(90%,800px);
    margin:2rem auto;
    border:1px solid #000;
}

.YM{
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    width:100%;
    margin:1rem 0;
}

/* 달력 넘어가는 버튼 */
.YM .title{
    padding:0 1em;
    font-size:1.5rem;}

[class ^= "btn_month"]{
    padding:.8em;
    background:white;
    border:none;
    font-size:1.5rem;
    cursor:pointer;
}

.tbl_cal{
    table-layout:fixed;
    border-spacing:0;
    border-collapse:separate;
    position:relative;
    width:90%;
    margin:1rem auto;
    border:1px solid #d2d2d2; border-width:1px 0 0 1px;}

    .tbl_cal th{
        text-align: center;
    }

    .tbl_cal th,
    .tbl_cal td{
        position:relative;
        width:calc(100% / 7);
        border:1px solid #d2d2d2; border-width:0 1px 1px 0;} 

    .tbl_cal td{padding:.5em 1em 2em;}

    .tbl_cal tr *:first-child{color: red;}
    .tbl_cal tr *:nth-child(7n){color:blue;}

    .tbl_cal .today{background:yellow;}